{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2024 Oliver Lorenz
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: GPL-3.0-or-later
#}

[Unit]
Description=Matterbridge ({{ matterbridge_identifier }})
{% for service in matterbridge_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in matterbridge_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ matterbridge_identifier }} 2>/dev/null'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ matterbridge_identifier }} 2>/dev/null'

{#
	The `--health-interval` health check parameter was changed because by default:
	- health checks start immediately.. and they always fail, because the HTTP server takes a bit of time to start
	- the recheck interval is too long (60s) and the service is considered `starting`
	- when a service is not `healthy`, Traefik does not reverse-proxy to it -- leading to 1 minute downtime every single time this restarts
#}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ matterbridge_identifier }} \
      --log-driver=none \
      --user={{ matterbridge_uid }}:{{ matterbridge_gid }} \
      --cap-drop=ALL \
      --read-only \
      --health-interval=10s \
      --network={{ matterbridge_container_network }} \
      --mount type=bind,src={{ matterbridge_toml_path }},dst=/etc/matterbridge/matterbridge.toml,readonly \
      {{ matterbridge_container_image_self_build_name if matterbridge_container_image_self_build else matterbridge_container_image }}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ matterbridge_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ matterbridge_identifier }} 2>/dev/null'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ matterbridge_identifier }} 2>/dev/null'

Restart=always
RestartSec=30
SyslogIdentifier={{ matterbridge_identifier }}

[Install]
WantedBy=multi-user.target
