{% for account in matterbridge_configuration_toml.accounts %}
[{{ account.protocol }}.{{ account.identifier }}]
{% for key, value in account.configuration.items() %}
{{key}}="{{value}}"
{% endfor %}
{% endfor %}

{% for gateway in matterbridge_configuration_toml.gateways %}
[[gateway]]
name="{{ gateway.name }}"
enable="{{ gateway.enable }}"

{% for channel in gateway.channels %}
    [[gateway.{{ channel.type }}]]
    account="{{ channel.account }}"
    channel="{{ channel.channel }}"

{% endfor %}
{% endfor %}
